<!DOCTYPE html>
<html>
  <head>
    <title>Cryptotracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  </head>

  <body>
    <div class="box">
      <%= yield %>
    </div>
  </body>
</html>
